@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Lato&display=swap');

body {
    background-color: rgba(229, 168, 54, 0.75);
}

.container {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Bigelow Rules', serif;
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

img {
    width:250px;
}

footer {
    position: fixed;
    margin: 0 auto; 
    left: 0;
    right: 0;   
    bottom: 0;
}